
# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip

# Virtual Machine Crash Logs
hs_err_pid*

# IDE and build files
*.class
.idea/
.gradle/
build/
bin/
out/
*.ipr
*.iws
*.iml

# Terraform files
*.backup
*.tfstate
*.json
*.info

# Other
update_response.txt
upload_secrets.sh
local.properties*
