
# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# Virtual Machine Crash Logs
hs_err_pid*

# IDE and build files
*.class
.idea/
.gradle/
build/
bin/
out/
*.ipr
*.iws
*.iml
gradle.properties
local.properties

# Terraform files
*.backup
*.tfstate
vars.tf
00_vars.tf
*.json
